@page "/contact"
<RadzenText TextStyle="TextStyle.H4">Contact</RadzenText>
<RadzenText Text="@WebsiteLoc.ApplicationContact"></RadzenText>
<RadzenText Text="@WebsiteLoc.MediaContact"></RadzenText>
<RadzenText Text="@WebsiteLoc.GDPRContact"></RadzenText>
<RadzenText Text="@WebsiteLoc.OtherContact"></RadzenText>
<div class="row d-inline p-0 m-0">
    <RadzenText Text="www.regios.org.pl" Style="display:inline; margin-bottom:0px; padding:0; color:var(--rz-primary)"></RadzenText>
</div>
@code {

}
