@inject IStringLocalizer<Resource> loc

<span id="Country" class="@cssClass"></span>
<span id="Country" class="fi fi-gr"></span>



@code {
    [Parameter]
    public string CountryCode
    {
        get
        {
            return string.Empty;
        }
        set
        {
            cssClass += CountryCode.ToLower();
            StateHasChanged();
        }
    }

    private string cssClass = "fi fi-";

    protected override Task OnInitializedAsync()
    {
        cssClass += CountryCode.ToLower();
        StateHasChanged();
        return base.OnInitializedAsync();
    }
}
